body{
    margin: 0;
}
.bg_gray{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("../assets/images/bg_gray.jpg");
    filter: grayscale(60%);
    background-size: 100%;  

  
}
.bg_img{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("../assets/images/img_index1.jpg");
    filter: grayscale(60%);
    background-size: 100% 100%;  
    background-position: center;
    height: 100vh;
}
.bg_header{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("../assets/images/fondo__index.jpg");
    filter: grayscale(60%);
    background-size: cover;
    background-position: center;
    
}

.nav_contenido{
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

/* CLASES DE JS */
.box__img{
    height: auto;
    display: flex;
   
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.img{
    width: 100%;
    height: auto;
    
}

.h3__box__img{
    font-weight: bold;
    padding: 5px 0 0 5px;
}
