body{
    margin: 0;
}
.bg_img{
    background-image: url();
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("../assets/images/fondo__index.jpg");
    background-size: 100% 100%;  
    background-position: center;
    height: 100vh;
}